body {
    background: darkmagenta;
    transition: all, 1s;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    min-height: 1500px;
    
}

.junk {
    margin-top: 1000px;
}

/* HEADER */

header {
    padding: 20px;
}
.front {
    background: linear-gradient(darkmagenta, darkmagenta);
    position: relative;
    height: 20vh;
    overflow: hidden;
    justify-content: center;
}

.front::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, darkmagenta, transparent);
    z-index: 1000;
}

h1{
    animation: fade-in-left 1s;
    padding-left: 200px;
    position: relative;
}
.front h2 {
    text-align: right;
    animation: fade-in-right 1s;
    padding-right: 200px;
    position: relative;

}

/* HYPERLINKS */

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}
.navigation a:hover {
    background: rgb(99, 99, 99);
    border-radius: 8px;
    padding: 5px;
}
a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* BUTTONS */
.buttons {
    margin: auto;   
    width: 300px;  
}
.buttons button {
    font-size: 25px;  
}

/* IMAGE STUFF */

.features {
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.features img {
    margin: auto;
    border-radius: 50%;
    box-shadow: rgb(0, 0, 0) 0 0 10px;
    border: 1px solid white;
    transition: transform 0.5s, box-shadow 0.5s;
}
.features img:hover {
    margin: auto;
    border-radius: 50%;
    box-shadow: rgb(59, 59, 59) 0 0 50px;
    border: 1px solid white;
    transform: scale(1.2);
}

/* NAV?? */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    font-size: 12px;
    text-align: center;
}

/* ANIMATION */

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}